@font-face {
  font-family: "Neon80s";
  src: url("C:\\Users\\baezr\\Documents\\Tammy Website\\Neon80S-8jL2.ttf");
}
html, body {
    max-width: 200%; max-height: 200%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Neon80s";
}
body {
	position: relative;
}

.border {
	border-width: 5px; border-color: black; border-style: solid;
}

.header {
	width:100%; height: 5em; 
	margin-left: 0%; margin-top: 0%; 
	background:#7a6391;
	border-radius: 1em;
}

.gmap {
	position:absolute;
	top: 45%;left: 22%;
}

.nails1 {
	position: absolute;
	width: 60%; 
	top: 79%; left:40%; 
	opacity: 60%;
}

.nails2{
	position: absolute; 
	width: 30%; 
	top: 72%; left:15%; 
	border-radius: 4em;
}

.buttons {
	width: 30%; 
	text-align: center; 
	margin: auto;
}

button {
	width: 100%;
	background-color: white; 
	border: none; 
	border-radius: 2em;
	font-family: "Neon80s";
	font-size: 150%;
}

